<table width="597">
<tbody>
<tr>
<td rowspan="2" width="211">
<p><strong>TH&Ocirc;NG TIN X&Atilde; VI&Ecirc;N<br /> L&Acirc;M MINH</strong></p>
</td>
<td rowspan="2" width="386">
<p>ng&agrave;y {{ngayKyHopDong_dd}} th&aacute;ng {{ngayKyHopDong_MM}} năm {{ngayKyHopDong_yyyy}}</p>
</td>
</tr>
<tr>
<td width="386">&nbsp;</td>
<td width="0">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>SỐ HHDV:</strong></p>
</td>
<td width="386">
<p>{{maSoHopDong}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>T&Ecirc;N X&Atilde; VI&Ecirc;N:</strong></p>
</td>
<td width="386">
<p>{{tenKhachHang}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>BIỂN SỐ XE:</strong></p>
</td>
<td width="386">
<p>{{bienKiemSoat}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>SĐT:</strong></p>
</td>
<td width="386">
<p>{{soDienThoaiLienLac}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>WEB:</strong></p>
</td>
<td width="386">
<p>{{linkWeb_App}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>ID:</strong></p>
</td>
<td width="386">
<p>{{tenDangNhap}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>PASS:</strong></p>
</td>
<td width="386">
<p>{{matKhau}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>NGƯỜI GiỚI THIỆU:</strong></p>
</td>
<td width="386">
<p>{{sale_daiLy_nguoiGoiThieu}}</p>
</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>NHẬN HỒ SƠ TỪ:</strong></p>
</td>
<td width="386">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>GI&Aacute; ĐẠI L&Yacute;:</strong></p>
</td>
<td width="386">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>GI&Aacute; THU:</strong></p>
</td>
<td width="386">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="597">&nbsp;</td>
</tr>
<tr>
<td width="211">
<p><strong>NOTE:</strong></p>
</td>
<td width="386">&nbsp;</td>
</tr>
<tr>
<td colspan="2" rowspan="4" width="597">&nbsp;</td>
</tr>
</tbody>
</table>